.buttons-container {
	display: grid;
	padding: 20px 20px;
	grid-template-columns: 80px 80px 80px;
	justify-content: center;
	gap: 0px;
}

.button {
	margin: 0px;
	color: black;
	font-size: 22px;
	height: 80.5px;
	border: 0.5px solid black;
	padding: 0px;
}

.button:hover:enabled {
	background-color: #9c9696;
}

.button:disabled {
	color: black;
}
